<form #form="ngForm" autocomplete="off" *ngIf="service.formData" (submit)="onSaveOrUpdate(form)">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Order No.</label>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">#</div>
                    </div>
                    <input readonly name="OrderNum" #OrderNum="ngModel" [(ngModel)]="service.formData.OrderNum"
                        class="form-control">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Customer</label>
                <select name="CustomerID" #CustomerID="ngModel" [(ngModel)]="service.formData.CustomerID"
                    class="form-control" [class.is-invalid]="!this.isValid && service.formData.CustomerID == 0">
                    <option value="0">-select-</option>
                    <option *ngFor="let item of commonService.cusotemrsList" value="{{item.CustomerID}}">{{item.CustomerName}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Payment Method</label>
                <select name="PostMethod" #PostMethod="ngModel" [(ngModel)]="service.formData.PaymentID"
                    class="form-control" [class.is-invalid]="!isValid && service.formData.PaymentID == 0">
                    <option value="0">-select-</option>
                    <option *ngFor="let item of commonService.paymentsList" value="{{item.PaymentID}}">{{item.PayMethod}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Grand Total</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">$</div>
                    </div>
                    <input readonly name="TotalRevenu" #TotalRevenu="ngModel" [(ngModel)]="service.formData.TotalRevenu"
                        class="form-control">
                </div>

            </div>
        </div>
    </div>
    <!-- order items table -->
    <table class="table table-borderless">
        <thead class="thead-light">
            <th>Item</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>
                <a class="btn btn-sm btn-success text-white" (click)='onAddItem(null,service.formData.OrderID)'>
                    <i class="fa fa-plus"></i> Add Item
                </a>
            </th>
        </thead>
        <tr *ngIf="service.orderItems.length == 0" >
          <td class="font-itatic text-center" colspan='5' [class.text-danger]="!isValid && service.orderItems.length == 0">
              No Food item selected for this order.
          </td>
      </tr>
        <tbody>
            <tr *ngFor="let item of service.orderItems;let i=index;">
                <td>{{item.ItemName}}</td>
                <td>{{item.Price}}</td>
                <td>{{item.Quantity}}</td>
                <td>{{item.Total}}</td>
                <td>
                    <a class="btn btn-sm btn-info text-white" (click)='onAddItem(i,service.formData.OrderID)'>
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a class="btn btn-sm btn-danger text-white ml-1" (click)="onDelete(item.OrderItemID,i)">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="form-group">
        <button class="btn btn-dark">
            <i class="fa fa-database"></i> Submit
        </button>
        <a routerLink="/orders" class="btn btn-outline-dark ml-1">
            <a href="" class="fa fa-table"></a> View Orders
        </a>
    </div>
</form>